@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: mreza;
    src: url(../font/IRANSansWebFaNum-Medium.eot);
    src: url(../font/IRANSansWebFaNum-Medium.ttf);
    src: url(../font/IRANSansWebFaNum-Medium.woff);
    src: url(../font/IRANSansWebFaNum-Medium.woff2);
}
html,body{
    font-family: mreza;
}
div.baz{
    top: 0;
    right: -300px;
}
#open:checked ~ div.baz{
    top: 0 !important;
    right: 0 !important;
    transition: 300ms;
}

#close:checked ~ div.baz{
    top: 0;
    right: -300px;
    transition: 300ms;
}
.boxshadowmamad{
    box-shadow: 0 1px 5px #eee;
}